<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Nastavení">
	    <setting label="Počet hledaných videí" type="number" id="ls" default="50"/>
      <setting label="Složka pro stahování" type="folder" id="download" default =""/>
      <setting label="Složka pro knihovnu" type="folder" id="library" default =""/>
	</category>
	<category label="Premium účet">
    <setting label="Email" type="text" id="email" default=""/>
    <setting label="Heslo" type="text" id="password" option="hidden" default=""/>
	</category>
  <category label="Donate">
    <setting id="paypal" type="action" label="PayPal" option="close" action="RunScript(special://home/addons/plugin.video.prehrajto/donate.py)" />
  </category>
</settings>
